body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ajusta este valor según tus preferencias */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }

  .tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
  }
  
  
  .table-section {
    flex: 0 0 calc(100% - 40px);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }

  .tables-container table {
    width: 100%;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .table-title {
    text-align: center;
    margin-bottom: 10px;
  }
